/*body {
	font-size: 2rem !important;
}*/

/* Sidebar */

.dropdown a {
  font-size: 2rem;
  font-family: 'SourceSansPro', Helvetica, Arial, "Meiryo UI", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
font-weight: 450 !important;
}
.working-set-splitview-btn {
  zoom: 200%;
}
.working-set-view a {
  font-size: 2rem;
  height: 2rem;
}
#working-set-header,
#project-files-header {
  font-size: 2rem;
}
#open-files-container {
  max-height: none;
}
#open-files-container a {
  font-size: 2rem;
  height: 2.5rem;
  line-height: 1.5rem;

}
.jstree a {
  height: 2.5rem;
  line-height: 2rem;
  padding-top: .5rem;
}
.jstree-brackets li a {
  font-size: 2rem
}
.sidebar-selection,
.sidebar-selection-triangle {
  background: #2d2e30;
  border-bottom: .1rem solid #505354;
  border-top: .1rem solid #1e1f20;
  height: 2rem !important;
}
.sidebar-selection-triangle.triangle-visible:before {
  border-bottom-width: 1.7rem;
  border-left-width: 1.5rem;
  border-top-width: 1.7rem;
}
#git-bash {
  display: block;
  margin-left: 0;
}
/* Code Hints */

.toolbar .nav .dropdown-menu li a,
.context-menu .dropdown-menu li a,
.codehint-menu .dropdown-menu li a {
  font-size: 2rem;
  line-height: 2.5rem;
}
.codehint-menu .dropdown-menu {
  max-height: 10rem;
  overflow-x: hidden;
}
/* Dropdown Menus */

.dropdown-menu > li > a {
  font-size: 2rem;
  line-height: 2.5rem;
font-family: 'SourceSansPro', Helvetica, Arial, "Meiryo UI", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
font-weight: 400;  
}
/* Status Bar */

#status-bar {
  font-size: 1.5rem;
  height: 3rem;
  line-height: 3rem;
}
/* Vertical Toolbar */

.main-view .content {
  right: 4rem;
}
#main-toolbar {
  width: 4rem;
}
#main-toolbar .buttons > a,
#main-toolbar .bottom-buttons > a {
  margin-left: auto;
  margin-right: auto;
}
/* Modal Bar */

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-size: 2rem;
}
.modal-bar .search-input-container #find-counter {
  font-size: 2rem;
}
/* Bottom Panel */

.bottom-panel .toolbar .title {
  font-size: 2rem;
}
.btn.small {
  font-size: 1.5rem;
}
.table th,
.table td {
  line-height: 2rem;
}
.bottom-panel-table td {
  font-size: 1.7rem;
}
.bottom-panel-table .line-number {
  font-size: 1.5rem;
}
/* Extension Modal */

.modal-inner-wrapper {
  font-size: 1.7rem;
}
.extension-manager-dialog .modal-header .nav-tabs > li > a {
  font-size: 1.5rem;
}
.extension-manager-dialog .modal-header .search {
  font-size: 2rem;
  padding-left: 3rem;
}
.extension-manager-dialog .modal-body .extension-list .ext-version,
.extension-manager-dialog .modal-body .extension-list .ext-date,
.extension-manager-dialog .modal-body .extension-list .ext-author {
  font-size: 1.3rem;
}
.btn {
  cursor: pointer;
}
.btn-mini {
  font-size: 2rem;
  line-height: 2.1rem;
}
.btn.update {
  background: #91cc41;
  border-color: #658e2d;
  box-shadow: inset 0 .1rem 0 #d9edbd;
  color: #fff;
  text-shadow: 0 .1rem 0 #333;
}
.working-set-header {
  height: 2rem !important;
  padding: 1.7rem 0rem 1.6rem 2rem !important;
  font-size: 2rem;
}
div.modal-wrapper {
  zoom: 100% !important;
}
div.working-set-option-btn {
	zoom: 200% !important;	

}
#project-files-header {
  padding: 1.7rem 0rem 1.6rem 2rem !important;
}
.dropdown-arrow {
	zoom:200%;
}
.jstree-icon {
	zoom:200%;
}
.sidebar-selection, .filetree-selection {
	height: 2.5rem !important;
}
#project-dropdown-toggle {
	margin: .1rem .1rem .1rem .1rem;
	height: 2rem;
}