/* Sidebar */

#working-set-header, #project-files-header {
	font-size: 15px;
}

#open-files-container {
	max-height: none;
}

#open-files-container a {
	font-size: 16px;
	height: 20px;
	line-height: 18px;
}

.jstree a {
	height: 20px;
	line-height: 18px;
	
}

.jstree-brackets li a {
	font-size: 16px
}

.sidebar-selection, .sidebar-selection-triangle {
	background: #2d2e30;
	border-bottom: 1px solid #505354;
	border-top: 1px solid #1e1f20;
	height: 25px;
}

.sidebar-selection-triangle.triangle-visible:before {
	border-bottom-width: 14px;
	border-left-width: 12px;
	border-top-width: 14px;
}

#git-bash {
	display: block;
	margin-left: 0;
}

/* Code Hints */

.toolbar .nav .dropdown-menu li a, .context-menu .dropdown-menu li a, .codehint-menu .dropdown-menu li a {
	font-size: 16px;
	line-height: 23px;
}

.codehint-menu .dropdown-menu {
	max-height: 200px;
	overflow-x: hidden;
}

/* Dropdown Menus */

.dropdown-menu > li > a {
	font-size: 16px;
	line-height: 21px;
}

/* Status Bar */

#status-bar {
	font-size: 15px;
	height: 31px;
	line-height: 30px;
}

/* Vertical Toolbar */

.main-view .content {
	right: 40px;
}

#main-toolbar {
	width: 40px;
}

#main-toolbar .buttons > a, #main-toolbar .bottom-buttons > a {
	margin-left: auto;
	margin-right: auto;
}

/* Modal Bar */

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	font-size: 16px;
}

.modal-bar .search-input-container #find-counter {
	font-size: 14px;
}

/* Bottom Panel */

.bottom-panel .toolbar .title {
	font-size: 16px;
}

.btn.small {
	font-size: 13px;
}

.table th, .table td {
	line-height: 22px;
}

.bottom-panel-table td {
	font-size: 15px;
}

.bottom-panel-table .line-number {
	font-size: 14px;
}

/* Extension Modal */

.modal-inner-wrapper {
	font-size: 15px;
}

.extension-manager-dialog .modal-header .nav-tabs > li > a {
	font-size: 14px;
}

.extension-manager-dialog .modal-header .search {
	font-size: 16px;
	padding-left: 29px;
}

.extension-manager-dialog .modal-body .extension-list .ext-version, .extension-manager-dialog .modal-body .extension-list .ext-date, .extension-manager-dialog .modal-body .extension-list .ext-author {
	font-size: 13px;
}

.btn {
	cursor: pointer;
}

.btn-mini {
	font-size: 14px;
	line-height: 17px;
}

.btn.update {
	background: #91cc41;
	border-color: #658e2d;
	box-shadow: inset 0 1px 0 #d9edbd;
	color: #fff;
	text-shadow: 0 1px 0 #333;
}